
div#condition {
    width:45em;
    background:yellow;
    border-radius:0.5em;
    padding:0.4em;
    box-shadow:2px 5px 3px blue;
    font-size:1.5em;
    color:blue;
    margin-bottom:1em;
}

input.button {
    font-size:2.2em;
    font-family:'Edwardian Script ITC';
    padding-right:0.3em;
    margin-right:1em;
    color:blue;
    background:yellow;
    border:1px solid blue;
    border-radius:0.5em;
    box-shadow:2px 5px 3px blue;
    cursor:pointer;
}

div#js-console {
    width:45em;
    background:blue;
    color:yellow;
    border-radius:0.5em;
    font-size:1.5em;
    padding-left:1em;
    font-weight:bold;
    font-family:Aharoni;
}