div, table, tr, td, th {
  margin: 0;
  padding: 0;
}

div {
  width: 25em;
  background: white;
}

body {
  background: black;
}
body div#table1 {
  padding: 0.4em 0.8em 0 0.8em;
  border-radius: 0.8em;
  margin-bottom: 2em;
}
body div#table1 table {
  width: 25em;
}
body div#table1 table th {
  font-size: 1.5em;
  font-style: italic;
}
body div#table1 table td:first-of-type {
  padding-right: 0.5em;
}
body div#table2 {
  width: 9.5em;
  padding: 1em;
  border-radius: 0.8em;
  font-size: 1.5em;
}
body div#table2 table {
  border-spacing: 1px;
}
body div#table2 td {
  border: 1px outset #C0C0C0;
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding: 0.1em;
}
body div#table2 td:last-of-type {
  padding-left: 0.6em;
  text-align: right;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
body div#table2 tr:first-of-type td:last-of-type {
  padding-left: 0.2em;
}
body div#table2 tr:nth-of-type(2) td:first-of-type {
  text-align: left;
}
body div#table2 tr:nth-of-type(3) td:nth-of-type(2) {
  text-align: center;
}
body div#table2 tr:nth-of-type(3) td:last-of-type {
  vertical-align: bottom;
}
body div#table2 tr:last-of-type td:first-of-type {
  text-align: right;
}
body div#table2 tr:last-of-type td:last-of-type {
  padding-left: 0;
  text-align: center;
}
