div {
  margin: 0;
  padding: 0;
  width: 95%;
}

span {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  background: black;
}
body form {
  background: white;
  border-radius: 0.8em;
  width: 20.4em;
  padding: 0.5em 0 0.3em 0.7em;
}
body form label {
  font-size: 1.2em;
}
body form input[text] {
  width: 110%;
  margin-right: 0;
}
