input, label {
	display:block;
}

input {
	margin:1em;
	margin-bottom:5em;
}

label {
	font-family:Helvetica;
	font-size:2em;
	font-style:italic;
}

a {
	color:blue;
	font-family:Helvetica;
	font-size:2em;
	font-style:italic;
	text-decoration: none;
	border:1px solid blue;
	border-radius: 0.8em;
	background: yellow;
	margin-top:2em;
	padding:0.3em;
}

div {
	font-size:1.5em;
	color:blue;
	font-weight:bold;
	margin-top:1em;
}