div#condition {
	width:800px;
	font-size:25px;
	margin-bottom:20px;
}

input {
	outline: none;
}

input[type="button"] {
	border-radius:5px;
	border:1px solid blue;
	box-shadow:3px 5px 2px blue;
	background: yellow;
	color:blue;
}

input[type="button"]:hover {
	cursor: pointer;
}