body {

	table {
			border:1px solid gray;
			border-spacing:0;
			white-space: nowrap;

		thead {

			tr {

				th {
					border:1px solid gray;
					padding:0.3em 0.2em 0.3em 0.2em;
				}
			}
		}

		tfoot {

			td {
				border:1px solid gray;
				padding:0.2em;

	
				input {
					border-radius:0.3em;
					border:1px solid gray;
				}

			}
		}

		tbody {

			tr {

				td {
					border:1px solid gray;
					
					&:last-of-type {
						font-weight: bold;
					}
				}
			}
		}
	}
}