body {
  background: black;
}
body table {
  background: white;
  border-radius: 0.4em;
  border-spacing: 0;
  border-spacing: 1em;
}
body table th {
  padding-bottom: 0.3em;
  border-bottom: 2px solid gray;
  border-spacing: 0;
}
body table th a {
  font-size: 1.5em;
  color: #00AAEF;
}
body table th a:visited {
  color: #00AAEF;
}
body table td#first {
  border: 2px solid gray;
}
body table td#first table {
  border-spacing: 0;
  padding-bottom: 0.8em;
}
body table td#first table fieldset {
  border: 2px solid gray;
}
body table td#first table fieldset legend {
  margin-left: 10%;
}
body table td#second {
  padding-right: 0.5em;
}
body table td#second label span.left {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}
body table td#second input {
  display: block;
  margin-bottom: 1em;
}
