body form table {
  border: 1px solid gray;
  border-spacing: 0;
}
body form table tbody tr td {
  border: 1px solid gray;
  padding: 0.3em;
  border-right: none;
  border-bottom: none;
}
body form table tbody tr td:first-of-type {
  font-weight: bold;
  width: 10.5em;
  text-align: right;
  border-left: none;
}
body form table tbody tr:first-of-type td {
  border-top: none;
}
body form table tbody tr:first-of-type td input {
  width: 24em;
}
body form table tbody tr:nth-of-type(2) input {
  width: 24em;
}
body form table tbody tr:nth-of-type(3) textarea {
  height: 7em;
  overflow: hidden;
  width: 22em;
}
body form table tbody tr:nth-of-type(4) td:nth-of-type(2) {
  padding: 0 0.3em 0 0.3em;
}
body form table tbody tr:nth-of-type(4) td:nth-of-type(2) span {
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  font-weight: bold;
}
body form table tbody tr:nth-of-type(4) td:nth-of-type(2) input:first-of-type {
  width: 15em;
}
body form table tbody tr:nth-of-type(4) td:nth-of-type(2) input:nth-of-type(2) {
  width: 5em;
}
body form table tbody tr:nth-of-type(6) select {
  width: 18em;
}
body form table tbody tr:nth-of-type(7) input:first-of-type {
  width: 5em;
}
body form table tbody tr:nth-of-type(7) input:nth-of-type(2) {
  width: 5em;
}
body form table tbody tr:nth-of-type(8) input {
  width: 24em;
}
body form table tbody tr:nth-of-type(9) input:first-of-type {
  width: 2em;
}
body form table tbody tr:nth-of-type(9) input:nth-of-type(2) {
  width: 2em;
}
body form table tbody tr:nth-of-type(9) input:nth-of-type(3) {
  width: 4em;
}
body form table tbody tr:nth-of-type(12) td {
  border-bottom: 1px solid gray;
}
body form table tbody tr:nth-of-type(12) td textarea {
  width: 22em;
  height: 7em;
}
body form table tfoot td {
  padding: 0.2em 0 0.2em 0;
  background: skyblue;
  text-align: center;
}
body form table tfoot td input {
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-radius: 0;
}
