div {
	padding:15px;
	border-radius: 10px;
	display:inline-block;
	margin-bottom:10px;
}

div#condition {
	display:block;
	font-size:25px;
}

input {
	margin-bottom: 10px;
	padding:5px;
	outline: none;
}

input[type="button"] {
	border-radius:5px;
	border:1px solid blue;
	box-shadow:3px 5px 2px blue;
	background: yellow;
	color:blue;
}

input[type="button"]:hover {
	cursor: pointer;
}

div#output {
	display: block;
	font-size: 22px;
}